<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Privacy Policy</title>
    <link media="all" rel="stylesheet" type="text/css" href="./privacypolicy_files/style.css">

    <style>
        body{
            margin: 30px auto;
            max-width: 800px;
            font-family: "Helvetica Neue",Helvetica,Arial,FreeSans,sans-serif;
            padding: 25px 30px;
            font-size: 70%;
        }
        div {
            padding-bottom: 21px;
            border-bottom: 1px dotted #dfdfdf;
        }
    </style>
</head>
    <body>
                <div>

                    <h1>A Ki lenne a Celeb barátod alkalmazás adatvédelmi nyilatkozata</h1>
                </div>

                <div>

                    <h2>Tulajdonos</h2>


                    <p>SGP Analytics Kft</p>

                    <p>2724 Újlengyel, Határ út 12</p>

                    <p>Contact email: klara.benda@datad.at</p>

                </div>

                <div>

                    <h2>A gyűjtött adatok köre</h2>

                    <p>Az alkalmazás nem gyűjt személyes adatot a felhasználóktól.</p>


                </div>

                <div class="one_line_col">

                    <h2>Működés</h2>
                    <p>
                        A működéshez az alkalmazás elkéri a Facebooktól a felhasználó által engedélyezett adatokat: a felhasználó születési évét, nemét és oldalkedveléseit. Az adatok alapján választja ki a felhasználóhoz korban legközelebb álló Celeb, az oldalkedveléseket is figyelembe véve. Ezeket az adatokat kizárólag az alkalmazásunk működésének érdekében használjuk fel.
                    </p>

                </div>
    
</body></html>